/*******************************Share*********************************/
.share {
    background: $blue-dark-v5;

    &__container {

        @include respond-all-devices {
            flex-wrap: wrap;
            gap: 2rem;
            padding: 2rem 0;
            margin:0;
        }


        @include flex-center-justify;
        padding:3.2rem;
        gap: 7.5rem;
        margin-left: .5rem;

        div {
            font-size: 2.4rem;
        }
    }
}

/*******************************Share*********************************/