$white:#fff;
$grey:#ECF0F1;
$grey-transp:#ecf0f142;
$grey-dark:#A1B1BC;
$grey-darker:#707070;
$grey-light:#EAEBEC;
$light:#F6F6F6;
$blue-light:#ECF0F1;
$blue-dark:#2C3E50;
$blue-dark-v2:#34495E;
$blue-dark-v3:#222533;
$green:#1ABC9C;